@page
@model ProyectoCiclo3.App.Frontend.Pages.EditEstacionModel
@{
    var estacion = Model.Estacion;
}
 
<div class="text-center">
<form method="post">
  <label for="id" class="form-label  d-none">id:</label>
  <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@estacion.id"  required>
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" asp-for="@estacion.nombre" required>
  <label for="Direccion" class="form-label">Direccion:</label>
  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion" asp-for="@estacion.direccion" required>
  <label for="Coord.X" class="form-label">Coord.X:</label>
  <input type="float" class="form-control" id="coord_x" name="coord_x" placeholder="Coord.X" asp-for="@estacion.coord_x" required>
  <label for="Coord.Y" class="form-label">Coord.Y:</label>
  <input type="float" class="form-control" id="coord_y" name="coord_y" placeholder="Coord.Y" asp-for="@estacion.coord_y" required>
  <label for="Tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo" asp-for="@estacion.tipo" readonly required>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>